html, body {
    height: 95%;
}
body{
    /* display: flex; */
    align-content: center;
    justify-content: center;

}
.dog-result {
    display: grid;
    align-content: center;
    background-color: lightskyblue;
    border-style: ridge;
    border-width: 5px;
    height: 4.5in;
    width: 3.3in;
    border-radius: 15px;
}
.card-title {
    background-color: lightpink;
    height: 35px;
    justify-content: left;
    text-align: center;
}
.card-stats {
    background-color: antiquewhite;
    height: 20px;
}
.card-stats1 {
    background-color: aqua;
    height: 20px;
}
.card-stats2 {
    background-color: lightsalmon;
    height: 20px;
}
.card-stats3 {
    background-color: lightblue;
    height: 20px;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content option {
   background-color: #FFFFFF;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content option:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
.loading-list {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes pulse {
    0% {
        opacity: 0.8;
        color: #00A4BD;
    }
    50% {
        opacity: 1;
        color: darkblue;
    }
    100% {
        opacity: 1;
        color: blue;
    }
}