html, body {
    height: 95%;
}
body{
    font-family: 'Exo 2', sans-serif;
    /* display: flex; */
    align-content: center;
    justify-content: center;
}
main {
    display: inline-flex;
    flex-direction: row;
    flex: auto;
    flex-flow: column;
}
.dog-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'title title'
    'img img'
    "stat stat"
    "stat1 stat2"
    "stat3 stat4"
    "stat5 stat6"
    "stat7 stat8";
    align-content: center;
    background-image: url('https://i.pinimg.com/564x/64/2d/df/642ddf0b07b51838d84b6603b6e3022f.jpg');
    background-size: 100%;
    border-style: ridge;
    border-width: 9px;
    border-color: #d3c39d;
    box-shadow: 10px 5px 10px black, 25px 20px 15px rgb(24, 24, 49);
    border-radius: 14px;
    height: 4.5in;
    width: 3.3in;
    overflow: hidden;
}
.dog-result:hover {
    box-shadow: 25px 20px 15px rgb(24, 24, 49), 25px 35px 25px darkslategray;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transform: skew(1deg) rotate(1deg);
    transform-style: preserve-3d;
}
.card-title {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    text-shadow: 5px black;
    padding-left: 33px;
    padding-top: 15px;
    margin-top: 10px;
    grid-area: title;
    height: 25px;
    width: 80%;
    justify-content: flex-start;
    /* background-color: lightpink; */
}
img {
    grid-area: img;
    border:3px ridge black;
    border-radius: 5px;
    width: 250px;
    height: 180px;
    justify-self: center;
    vertical-align:middle;
    margin-top: 5px;
    overflow: hidden;
}
.card-stats {
    grid-area: stat;
    text-align: center;
    font-size: smaller;
    justify-self: center;
    /* margin-top: 5px; */
    /* padding: 3px 15px 3px 15px; */
    /* background-color: antiquewhite; */
    /* border-style: groove;
    border-color: #000000;
    border-radius: 5px; */
    height: 30px;
    width: 72%;
}
.card-stats1 {
    grid-area: stat1;
    text-align: left;
    font-size: x-large;
    font-weight: bolder;
    font-size-adjust: inherit;
    padding: 5px 5px 5px 37px;
    /* background-color: aqua; */
    height: 30px;
}
.card-stats2 {
    grid-area: stat2;
    text-align: left;
    font-size: x-large;
    font-weight: bolder;
    font-size-adjust: inherit;
    padding: 5px 15px 5px 25px;
    /* background-color: aqua; */
    height: 30px;
}
.card-stats3 {
    grid-area: stat3;
    text-align: left;
    font-size: x-large;
    font-weight: bolder;
    padding: 10px 1px 5px 34px;
    /* background-color: lightsalmon; */
    /* border-style: solid;
    border-left: #000000;
    border-right: #000000;
    border-bottom: #000000; */
    height: 30px;
}
.card-stats4 {
    grid-area: stat4;
    text-align: left;
    font-size: x-large;
    font-weight: bolder;
    font-size-adjust: inherit;
    padding: 10px 1px 5px 25px;
    /* background-color: lightsalmon; */
    /* border-style: solid;
    border-left: #000000;
    border-right: #000000;
    border-bottom: #000000; */
    height: 30px;
}
.card-stats5 {
    grid-area: stat5;
    text-align: left;
    font-size: medium;
    font-weight: bolder;
    font-size-adjust: inherit;
    padding: 13px 15px 1px 40px;
    /* background-color: aqua; */
    height: 30px;
}
.card-stats6 {
    grid-area: stat6;
    text-align: left;
    font-size: medium;
    font-weight: bolder;
    font-size-adjust: inherit;
    padding: 13px 15px 1px 20px;
    /* background-color: aqua; */
    height: 30px;
}
.card-stats7 {
    grid-area: stat7;
    text-align: left;
    font-size: small;
    padding: 1px 5px 15px 50px;
    /* background-color: lightblue; */
    /* border-style: solid;
    border-left: #000000;
    border-right: #000000;
    border-bottom: #000000; */
    height: 30px;
}
.card-stats8 {
    grid-area: stat8;
    text-align: left;
    font-size: small;
    padding: 1px 5px 15px 25px;
    /* background-color: lightblue; */
    /* border-style: solid;
    border-left: #000000;
    border-right: #000000;
    border-bottom: #000000; */
    height: 30px;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content option {
   background-color: #FFFFFF;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content option:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
.loading-list {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes pulse {
    0% {
        opacity: 0.8;
        color: #00A4BD;
    } 50% {
        opacity: 1;
        color: darkblue;
    } 100% {
        opacity: 1;
        color: blue;}
}