.dog-result {
    border-style: ridge;
    border-width: 5px;
    height: 1000px;
    width: 500px;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content option {
   background-color: #FFFFFF;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content option:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
.loading-list {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes pulse {
    0% {
        opacity: 0.8;
        color: #00A4BD;
    }
    50% {
        opacity: 1;
        color: darkblue;
    }
    100% {
        opacity: 1;
        color: blue;
    }
}